.tabList {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.tabOptions {
  width: 100%;
  padding: 1em;
}
.tabOptionHovered {
  background-color: #e7e7e8;
}
.tabActive {
  border-bottom: 5px solid aqua;
}
