.accessibiltyContainer {
  width: 20%;
  margin-left: 2rem;
}
.feedContainer {
  width: 50%;
  padding: 1em;
  border-left: 1px solid rgb(239, 243, 244);
}
.sideContainer {
  width: 30%;
  padding: 2em;
  border-left: 1px solid rgb(239, 243, 244);
}
