.sidebarIcon {
  width: 1.75rem;
  height: 1.75rem;
  padding-left: 1.5em;
}
.sideBarContainer {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.sidebarText {
  padding: 1em;
}
.hovered {
  cursor: pointer;
  background-color: #e7e7e8;
}
