body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}
.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.tweetContainer {
  background-color: white;
  border-radius: 10px;
  border-bottom: 1px solid rgb(239, 243, 244);
  border-top: 1px solid rgb(239, 243, 244);
  padding: 0 16px;
}
.tweeterDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 12px;
}
.reactionBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.homeHeader {
  font-size: larger;
  font-weight: bold;
  text-transform: capitalize;
}
.newTweetBox {
  width: 100%;
  border: 0;
  color: gray;
  padding: 12px;
  outline: none;
}
.newTweetContainer {
  padding: 1em;
}
.tweetOptions {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(239, 243, 244);
  border-top: 1px solid rgb(239, 243, 244);
  padding: 2%;
}
.tweetInsertOptions {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
}
.tweetPostOptions {
  min-height: 36px;
  min-width: 36px;
}
.searchComponent {
  border-radius: 20px;
  border: 1px solid rgb(239, 243, 244);
  padding-left: 1em;
  display: flex;
  background-color: #eff3f4;
  align-items: center;
}
.searchInputBox {
  outline: none;
  border: none;
  background-color: #eff3f4;
  padding: 12px;
}
.trendingTopic {
  color: #717f89;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
}
.trendingTab {
  background-color: #f7f9f9;
  padding: 12px;
}
.trend {
  display: flex;
  flex-direction: column;
}
.trendTerm {
  font-weight: bold;
  padding: 2px 0;
}
.trendStatus {
  color: #717f89;
}
.hovered {
  background-color: #eff1f1;
  border: 1px solid rgb(239, 243, 244);
  cursor: pointer;
}
